BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
ColumnLimit: 0
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterReturnType: None
PenaltyBreakAssignment: 100000000
PenaltyBreakBeforeFirstCallParameter: 100000000
PenaltyBreakComment: 100000000
PenaltyBreakFirstLessLess: 100000000
PenaltyBreakString: 100000000
PenaltyExcessCharacter: 100000000
PenaltyReturnTypeOnItsOwnLine: 100000000
PenaltyIndentedWhitespace: 100000000
ContinuationIndentWidth: 2
AlignAfterOpenBracket: DontAlign
AlignOperands: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
