[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
	ignore = dirty
[submodule "vendor/raylib-cpp"]
	path = vendor/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp.git
	ignore = dirty
